model_checkpoints/* filter=lfs diff=lfs merge=lfs -text
model_checkpoints/networks/mars-small128.pb filter=lfs diff=lfs merge=lfs -text
model_checkpoints/networks/mars-small128.ckpt-68577 filter=lfs diff=lfs merge=lfs -text
model_checkpoints/networks/mars-small128.ckpt-68577.meta filter=lfs diff=lfs merge=lfs -text
model_checkpoints/cross_transformer/second/epoch_7.pth filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
model_checkpoints/cross_transformer/fourth/epoch_9.pth filter=lfs diff=lfs merge=lfs -text
model_checkpoints/best_model_audio_emotion.pt filter=lfs diff=lfs merge=lfs -text
model_checkpoints/best_av_enc.pt filter=lfs diff=lfs merge=lfs -text
model_checkpoints/best_emotion_enc.pt filter=lfs diff=lfs merge=lfs -text
model_checkpoints/best_face_parse_enc.pt filter=lfs diff=lfs merge=lfs -text
model_checkpoints/best_hp_gaze_enc.pt filter=lfs diff=lfs merge=lfs -text
model_checkpoints/best_moe_encoders_frozen_6exp_2k_dropout_experts.pt filter=lfs diff=lfs merge=lfs -text
model_checkpoints/best_rppg_enc.pt filter=lfs diff=lfs merge=lfs -text
assets/ filter=lfs diff=lfs merge=lfs -text
assets/real/HofPoL7crGA_0_1.mp4 filter=lfs diff=lfs merge=lfs -text
assets/fake/2SaSnpFB4Js_0_1--oeyLwy8sJhA_2_1.mp4 filter=lfs diff=lfs merge=lfs -text
assets/fake/esca.mp4 filter=lfs diff=lfs merge=lfs -text
assets/fake/fake.mp4 filter=lfs diff=lfs merge=lfs -text
assets/fake/scam_fb_2.mp4 filter=lfs diff=lfs merge=lfs -text
assets/fake/20101007-0900-PLENARY-3-ro_20101007-11_13_37_2_71.mp4 filter=lfs diff=lfs merge=lfs -text
assets/fake/498_62ywI44YAxQ_72_1-batch-2025-02-05-13-35-36-128.mp4 filter=lfs diff=lfs merge=lfs -text
assets/fake/LorLNaWFFFI_6_5.mp4 filter=lfs diff=lfs merge=lfs -text
assets/real/9rjQ5sfeUTg_out_151_2.mp4 filter=lfs diff=lfs merge=lfs -text
assets/real/ILR3cxYpjUk_1547_13.mp4 filter=lfs diff=lfs merge=lfs -text
assets/real/MxlocFNdoXg_354_2.mp4 filter=lfs diff=lfs merge=lfs -text
assets/real/VifDzyPgBNg_228_3.mp4 filter=lfs diff=lfs merge=lfs -text
assets/fake/073_f04cd664_pIHISnPgZxY_97_3.mp4 filter=lfs diff=lfs merge=lfs -text
model_checkpoints/best_correct_rPPG.pt filter=lfs diff=lfs merge=lfs -text
model_checkpoints/best_moe_6exp_2k_dropout_experts_02_avff_included_entire_video_correct_rppg.pt filter=lfs diff=lfs merge=lfs -text
model_checkpoints/best_moe.pt filter=lfs diff=lfs merge=lfs -text
model_checkpoints/last_moe.pt filter=lfs diff=lfs merge=lfs -text
